<!DOCTYPE html>
<meta charset="UTF-8">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <div th:if="${isAuthenticated}" style="float:right;">
        <a href="/logout" style="margin-left: 10px;">
            <b>ВЫЙТИ &cudarrr;</b>
        </a>
        <a href="/orders" style="margin-left: 10px;">
            <b>ЗАКАЗЫ &cudarrr;</b>
        </a>
        <a href="/cart/items" style="margin-left: 10px;">
            <b>КОРЗИНА &cudarrr;</b>
        </a>
        <a href="/main/items" style="margin-left: 10px;">
            <b>ГЛАВНАЯ &cudarrr;</b>
        </a>
    </div>

    <div th:unless="${isAuthenticated}" style="float:right;">
        <a href="/login" style="margin-left: 10px;">
            <b>ВОЙТИ &cudarrr;</b>
        </a>
        <a href="/main/items" style="margin-left: 10px;">
            <b>ГЛАВНАЯ &cudarrr;</b>
        </a>
    </div>

    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getImgPath()}">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form th:action="${'/items/'+item.getId()}" method="post">
            <button name="action" value="minus">-</button>
            <span th:text="${item.getCount()}"></span>
            <button name="action" value="plus">+</button>
            <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">В корзину</button>
        </form>
    </div>
</body>

</html>